.slider {
	height: 550px;
	background: linear-gradient(to top, #fff, #bcbcbc);

	h1 {
		margin: 0;
	}


	.wrap {
		max-width: 1200px;
	}
}

.slide {
	background: url('../img/notebook.png') no-repeat -40px 50%;
	min-height: 550px;
			padding: 0 100px;

	&__content {
		margin-top: 92px;
		float: right;
		max-width: 390px;
	}

	&__content-title {
		color: #2c2c2c;
		font-family: ubuntu;
		font-weight: 600;
		font-size: 40px;
	}

	&__content-list {
		margin:40px 0 0;
		padding: 0;
		list-style: none;
		font-family: roboto;
		color: #2c2c2c;
		font-weight: 400;
		font-size: 16px;
	}

	&__content-item {
		line-height: 35px;
	}
	
	&__content-but {
		font-family: roboto;
		font-weight: 400;
		margin-top: 52px;
		display: inline-block;
		background: #cb4545;
		padding: 10px 40px;
		color: #E4E4E4;
		text-decoration: none;
		font-size: 15px;
		border-radius: 5px;
		box-shadow: inset 0 -25px 35px 2px rgba(0, 0, 0 ,0.35);
	}

}

.pag-list {
	position: absolute;
	top: 50px;
	right: 118px;
	font-size: 0px;
}
.pag-item {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	width: 8px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #c0b7b7;
	margin: 0 4px;

	&:hover {
		background: #5f5f5f;
	}

	&--active {
		background: #5f5f5f;
		border: 1px solid #5f5f5f;
	}

	&--active:hover {
		background: #5f5f5f;
	}
}