.top {
	min-height: 55px;
	background: #20201f;
	box-shadow: 0 0 1px 1px #20201f,
              inset 0 -25px 35px 2px rgba(0, 0, 0 ,0.25);;

	&__logo {
		background: url(../img/logo.png) no-repeat center center;
		background-size: 61px 61px;
		width: 61px;
		height: 61px;
		position: absolute;
		left: 0;
		top: 5px;
		z-index: 3;
		transition: all 0.5s;
    border-radius: 50%;

		&:hover {
			transform: rotate(360deg);
		}

		&:hover + .top__logo-text {
			transform: translateX(65px);
			visibility: visible;
      color: #fcdbdc;
		}
	}

	&__logo-text {
		color: #20201f;
		font-family: Ubuntu;
		font-weight: 500;
		font-size: 22px;
		position: absolute;
		z-index: 2;
		top: 18px;
		transition: all 0.5s;
		left: 0;
		visibility: hidden;
	}
}
.wrap {
	max-width: $wrap-width;
	margin: 0 auto;
	position: relative;			
}

.nav-top {
  float: right;

  &__list {
    list-style: none;
    margin: 0;
  }

  &__item {
    display: inline-block;
    font-size: 0px;
  }

  &__link {
    display: block;
    line-height: 55px;
    padding: 0 20px;
    text-decoration: none;
    color: darken(#fcdbdc, 5%);
    font-family: ubuntu;
    font-weight: 400;
    font-size: 14px;
/*    text-shadow: 0 0 24px rgba(0, 0, 0 ,0.6);*/
    transition: all 0.2s;

    &--active {
      background: #cb4545;
      box-shadow: inset 0 -25px 35px 2px rgba(0, 0, 0 ,0.35);
    }

    &:hover {
      color: #cb4545;
    }

    &--active:hover {
      color: darken(#fcdbdc, 5%);
    }
  }
}

